.book-name {
  font-weight: bold;
}
.author {
  font-size: 14;
  padding-top: 10 !important;
  font-weight: 600;
}
.language {
  font-size: 14;
  font-weight: 600;
  padding-top: 10;
}

.page {
  position: absolute;
  font-size: 14;
  font-weight: 600;
  right: 0px;
}
